.card-detail {
    display: flex;
    width: 80%;
}

.card-detail-left {
    width: 50%;
}

.card-detail-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img {

    max-width: 500px;
}

.position {

    margin: 0 auto;

}

.position2 {

    padding: 4.5rem;
}
